*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-data, .pages-list{
  text-align: center;
  margin: 1rem 0;
  cursor: pointer;
}

.active-page{
  font-size: 30px;
  font-weight: 900;
}

